/* NORD */

:root {
/*Yazı*/
--nord0: #fff;

/*Border*/
--nord2: #A0144F;

/*header üst*/
--nord4: #660D33;
/*nav - alt*/
--nord5: #A0144F;
/*div nav-center arama*/
--nord6: #7C1843;

}

.tab-close {
filter: brightness(0) invert(1);
}

#back, #forward, #refresh, #home, #site-info img, #bookmark, #shield, #menu, #system_update, #new-tab, #window-controls svg, #BookMarks img {
filter: brightness(0) invert(1);
}

.serachkeyins .insearchs, .xsvg-iconsss {filter: brightness(0) invert(1);}