/* NORD */

:root {
/*Yazı*/
--nord0: #fff;

/*Border*/
--nord2: #A71C1C;

/*header üst*/
--nord4: #6D1212;
/*nav - alt*/
--nord5: #A71C1C;
/*div nav-center arama*/
--nord6: #831D1E;

}

.tab-close {
filter: brightness(0) invert(1);
}

#back, #forward, #refresh, #home, #site-info img, #bookmark, #shield, #menu, #system_update, #new-tab, #window-controls svg, #BookMarks img {
filter: brightness(0) invert(1);
}

.serachkeyins .insearchs, .xsvg-iconsss {filter: brightness(0) invert(1);}